###############################################################################
# HOST DEFINITION FOR HAProxy
###############################################################################

define host {
        use                     linux-server
        host_name               haproxy
        alias                   HAProxy Load Balancer
        address                 haproxy
}

###############################################################################
###############################################################################
#
# HOST GROUP DEFINITION
#
###############################################################################
###############################################################################

# Define an optional hostgroup for HAProxy Servers

define hostgroup {
        hostgroup_name  haproxy-servers
        alias           HAProxy Servers
        members         haproxy
}


###############################################################################
# SERVICE DEFINITIONS FOR HAProxy
###############################################################################

# Define a service to check the PING response for HAProxy
define service {
        use                             local-service,graphed-service
        host_name                       haproxy
        service_description             PING
        check_command                   check_ping!100.0,20%!500.0,60%
        check_interval                  1
        retry_interval                  0.5
        max_check_attempts              3
}

# Define a service to check the load on HAProxy (optional, requires NRPE setup)
define service {
        use                             local-service,graphed-service
        host_name                       haproxy
        service_description             Current Load
        check_command                   check_local_load!5.0,4.0,3.0!10.0,6.0,4.0
}
